body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #000;
    margin: 0;
    padding: 0;
}
header {
    background-color: #000;
    text-align: center;
    padding: 20px;
}
h1 {
    color: #FFFFFF;
}
h2, h3 {
    color: #000;
}
section {
    margin: 20px;
}
.project {
    margin-bottom: 20px;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.project1 {
    background-color: white;
    color: black;
}

.project1:hover {
    background-color: #FAFAFA;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

footer {
    background-color: #000;
    text-align: center;
    padding: 20px;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}
